.header {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 1rem;
}

.btn {
    border-radius: 10px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 1px;
    margin-bottom: 50px;

}


.btn:hover{
    box-shadow: black;
}

.contacts{
    display: flex;
    align-items: center;
    flex-direction: column;
}